fastapi==0.129.2
uvicorn==0.41.0
python-multipart==0.0.22
torch==2.10.0
torchaudio==2.10.0
transformers==4.56.0
tokenizers==0.22.2
numpy==2.4.2
soundfile==0.13.1
librosa==0.11.0
scipy==1.17.0
omegaconf==2.3.0
pydantic==2.12.5
nemo-toolkit==2.4.0
